/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap'); /* Bungee Shade */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /* MV Boli*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap'); /* Afacad Flux*/
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap'); /* STIX Two Text */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&family=Righteous&display=swap'); /* Righteous, Cinzel */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'STIX Two Text', cursive;
    color: black;
}
a {
  text-decoration:none;
  color:black;
}

/* Header Styling */
.header {
    background-color: #405e49;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:30px;
    font-family: 'Afacad Flux', cursive;
}
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 3px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0 20px 0 20px;
    position:fixed;
    background-color: #405e49;
}

.logo {
    width: 40px;
    height: auto;
}
.header a {
  color:#fff;
}
.header a:hover {
  color:#90EE90;
}
.header-nav {
    display: flex;
    gap: 30px;
    margin-top:-5px;
}

.header-nav a {
    color: #fff;
    font-size: 1rem;
}


.header-title {
    font-size: 2.5rem;
    font-family: "Cinzel", serif;
    margin-top:40px;
    padding-top:20px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Main content styling */
.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 30px 50px 0; /* Adjust if your header overlaps */
}

/* Article styling */
.article {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Image styling */
.article img {
    width: 100%;
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    border-radius: 8px;    /* Optional: Matches the article card border-radius */
}


/* Title styling */


/* Subtitle styling */
.article p {
    font-size: 1em;
    color: #666666;
    margin-bottom: 15px;
    padding: 0 10px;
}
.article h2 {
    font-size: 1.8em;
    margin: 10px 0 5px;
    color: #333333;
    font-family: "Afacad Flux";
}
/* Footer Styling */
.footer {
    background-color: #e1d6ca;
    color: #405e49;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 40px 20px;
    text-align: center;
    flex-direction: row;
}

.footer-logo {
    width: 8%;
    height: auto;
    margin-left:30%;
    align-self: flex-start;
}

.footer-content {
    font-size: 1rem;
    vertical-align: middle;
}

.footer-content ul {
    list-style: none;
}

.footer-content a {
    color: #405e49;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
      }
    .header-nav {
        display: none; /* Initially hide nav links */
        flex-direction: column;
        gap: 10px;
        background-color: #405e49;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 0;
    }

      .header-nav.active {
            display: flex; /* Show menu when active */
        }

    body {
      font-family:'Montserrat';
    }
    .header {
        padding-bottom:20px;
    }
    .header-top {
        /*flex-direction: column;*/
        gap: 10px;
        margin-left:5px;
    }

    .logo {
        width: 35px;
        height: auto;
        margin-left:-10px;
    }

    .header-nav a {
        font-size: 0.9rem; /* Adjust text size for smaller screens */
        padding: 5px 0;
    }

    .header-title {
        font-size: 1.8rem;
        margin-top:40px;
        padding-top:20px;
        text-align: center;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
        gap: 20px;
        padding: 20px;
        margin: 30px 5px 0; /* Adjust if header overlaps */
    }
    .article p {
      margin-top:5px;
      text-align:justify;
    }

    .footer-content {
        font-size: 0.9rem;
    }
    .footer-logo {
        width: 20%;
        height: auto;
        margin-left:30%;
        align-self: flex-start;
    }
}
